@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}

section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

/*
===========================
  Animated gradient effects
===========================
*/
section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, #0f0, #000);
  animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

/*
===========================
  styling for indiiual span
===========================
*/
span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1.5s;
}
section span:hover {
    background: #0f0;
    transition: 0s;
}

/*
===========================
  form styling
===========================
*/
.form-container {
    position: absolute;
    width: 25rem;
    background: #222;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

h2 {
    font-size: 2rem;
    color: #0f0;
    text-transform: uppercase;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.56rem;
}

.input-box {
    position: relative;
    width: 100%;
}

.input-box input {
    position: relative;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

i {
    position: absolute;
    left: 0;
    padding: 0.938rem 0.625rem;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
    transform: translateY(-0.469rem);
    font-size: 0.8em;
    color: #fff;
}

.links {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #fff;
    transition: filter 0.3s;
}

.links a:nth-child(2) {
    color: #0f0;
    font-weight: 600;
    transition: filter 0.3s;
}
.links a:hover {
    filter: opacity(0.7);
}

input[type="submit"] {
    padding: 0.625rem;
    background: #0f0;
    color: #000;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.6;
}

/*
===========================
  media queries
===========================
*/
@media (max-width: 900px) {
    body {
        width: 100%;
        padding: 1.25rem;
    }
    section span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
    
}
    @media (max-width: 600px) {
        section span {
            width: calc(20vw - 2px);
            height: calc(20vw - 2px);
        }
        .form-container {
            width: 20rem;
        }
        .terms input[type="checkbox"] {
            width: 0.625rem;
            height: 0.625rem;
        }
        .terms p {
            font-size: 0.62rem;
        }
}


/*
===========================
  sign up page styling
===========================
*/
.terms {
    display: flex;
    gap: 0.325rem;
    align-items: center;
}
p {
    color: #fff;
    font-size: 0.725em;
    font-weight: 500;
}

.links .a {
    color: #0f0;
    font-weight: 600;
    transition: filter 0.3s;
}